In [60]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [61]:
df=pd.read_csv("D:\\miniproject\\stocks.csv")
df

,Ticker,Date,Open,High,Low,Close,Adj Close,Volume
0,AAPL,2023-02-07,150.639999,155.229996,150.639999,154.649994,154.414230,83322600
1,AAPL,2023-02-08,153.880005,154.580002,151.169998,151.919998,151.688400,64120100
2,AAPL,2023-02-09,153.779999,154.330002,150.419998,150.869995,150.639999,56007100
3,AAPL,2023-02-10,149.460007,151.339996,149.220001,151.009995,151.009995,57450700
4,AAPL,2023-02-13,150.949997,154.259995,150.919998,153.850006,153.850006,62199000
...,...,...,...,...,...,...,...,...
243,GOOG,2023-05-01,107.720001,108.680000,107.500000,107.709999,107.709999,20926300
244,GOOG,2023-05-02,107.660004,107.730003,104.500000,105.980003,105.980003,20343100
245,GOOG,2023-05-03,106.220001,108.129997,105.620003,106.120003,106.120003,17116300
246,GOOG,2023-05-04,106.160004,106.300003,104.699997,105.209999,105.209999,19780600
247,GOOG,2023-05-05,105.320000,106.440002,104.738998,106.214996,106.214996,20705300

In [62]:
df.drop(['Ticker','Adj Close'],axis=1,inplace=True)
df

           Date        Open        High         Low       Close    Volume
0    2023-02-07  150.639999  155.229996  150.639999  154.649994  83322600
1    2023-02-08  153.880005  154.580002  151.169998  151.919998  64120100
2    2023-02-09  153.779999  154.330002  150.419998  150.869995  56007100
3    2023-02-10  149.460007  151.339996  149.220001  151.009995  57450700
4    2023-02-13  150.949997  154.259995  150.919998  153.850006  62199000
..          ...         ...         ...         ...         ...       ...
243  2023-05-01  107.720001  108.680000  107.500000  107.709999  20926300
244  2023-05-02  107.660004  107.730003  104.500000  105.980003  20343100
245  2023-05-03  106.220001  108.129997  105.620003  106.120003  17116300
246  2023-05-04  106.160004  106.300003  104.699997  105.209999  19780600
247  2023-05-05  105.320000  106.440002  104.738998  106.214996  20705300

[248 rows x 6 columns]

In [63]:
x=df
x['year']=pd.DatetimeIndex(x['Date']).year
x['month']=pd.DatetimeIndex(x['Date']).month
x['day']=pd.DatetimeIndex(x['Date']).day

In [64]:
x=df.drop(['Close','Date'],axis=1)
x

           Open        High         Low    Volume  year  month  day
0    150.639999  155.229996  150.639999  83322600  2023      2    7
1    153.880005  154.580002  151.169998  64120100  2023      2    8
2    153.779999  154.330002  150.419998  56007100  2023      2    9
3    149.460007  151.339996  149.220001  57450700  2023      2   10
4    150.949997  154.259995  150.919998  62199000  2023      2   13
..          ...         ...         ...       ...   ...    ...  ...
243  107.720001  108.680000  107.500000  20926300  2023      5    1
244  107.660004  107.730003  104.500000  20343100  2023      5    2
245  106.220001  108.129997  105.620003  17116300  2023      5    3
246  106.160004  106.300003  104.699997  19780600  2023      5    4
247  105.320000  106.440002  104.738998  20705300  2023      5    5

[248 rows x 7 columns]

In [65]:
y=df['Close']
y

0      154.649994
1      151.919998
2      150.869995
3      151.009995
4      153.850006
          ...
243    107.709999
244    105.980003
245    106.120003
246    105.209999
247    106.214996
Name: Close, Length: 248, dtype: float64

In [66]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=42)
print('xtrain:',x_train.shape)
print('xtest:',x_test.shape)
print('ytain:',y_train.shape)
print('ytest:',y_test.shape)

xtrain: (186, 7)
xtest: (62, 7)
ytain: (186,)
ytest: (62,)

In [67]:
# Scale the input features
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [68]:
# Define the parameter grid for hyperparameter tuning
param_grid = {
    'hidden_layer_sizes': [(64,), (64, 32), (128, 64, 32)],
    'activation': ['relu', 'tanh'],
    'solver': ['adam', 'lbfgs'],
}

In [70]:
# Create the MLPRegressor model
model = MLPRegressor(random_state=42)

In [71]:
# Perform grid search with cross-validation
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split, GridSearchCV
grid_search = GridSearchCV(model, param_grid, cv=5)
grid_search.fit(x_train, y_train)

GridSearchCV(cv=5, estimator=MLPRegressor(random_state=42),
             param_grid={'activation': ['relu', 'tanh'],
                         'hidden_layer_sizes': [(64,), (64, 32), (128, 64, 32)],
                         'solver': ['adam', 'lbfgs']})

In [72]:
# Get the best model and its hyperparameters
best_model = grid_search.best_estimator_
best_params = grid_search.best_params_

In [73]:
# Make predictions on the test set using the best model
y_pred = best_model.predict(x_test)
y_pred

array([159.31682866, 154.75193394, 319.8391394 , 259.8928052 ,
       328.54547288, 105.68017101,  92.55323237, 287.02735847,
       149.82145339, 105.05460371, 108.69949058, 106.31897215,
       106.49706069, 325.3921064 , 271.72116544, 327.47438312,
        96.57788481, 146.8104423 , 322.60856709, 151.93616613,
       306.79386378, 152.34081151, 288.73292824, 271.50653209,
       101.47791352, 103.87853169,  91.87237269, 148.6630576 ,
       160.35462193, 273.39336593, 104.58752858, 109.32917756,
       301.82260509, 151.62293329, 107.67506566, 156.04014579,
       344.73277687,  90.82329869, 167.93994261, 164.42202554,
       324.99536294, 288.89002393, 164.47346676, 322.85875921,
       146.44366625, 307.72332523, 268.27845771, 330.03694586,
       166.40747447, 334.43263193, 317.04365926, 100.21397676,
       307.85183227,  91.56750966, 105.99879107, 253.86765932,
       294.97529428,  96.99276891, 280.74030884, 296.67090478,
       250.3076836 , 251.23553355])

In [74]:
# Calculate R-squared score
from sklearn.metrics import r2_score
r2 = r2_score(y_test, y_pred)
print('R-squared Score:', r2)
print('Best Hyperparameters:', best_params)

R-squared Score: 0.9996494689950246
Best Hyperparameters: {'activation': 'relu', 'hidden_layer_sizes': (128, 64, 32), 'solver': 'lbfgs'}

In [75]:
train_accuracy=best_model.score(x_train,y_train)
print('train_accuracy(R_Squared):',train_accuracy)
test_accuracy=best_model.score(x_test,y_test)
print('test_accuracy(R_Squared):',test_accuracy)

train_accuracy(R_Squared): 0.9996695275550193
test_accuracy(R_Squared): 0.9996494689950246

In [76]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred)
print('Mean Squared Error:', mse)

Mean Squared Error: 2.8594164242512448

In [77]:
from sklearn.metrics import mean_absolute_error
mae=mean_absolute_error(y_test,y_pred)
print('Mean_absolute_Error:',mae)

Mean_absolute_Error: 1.3216057581160208